@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.btn:focus {
    box-shadow: none;
}
#app {
    font-family: 'Open Sans', var(--bs-font-sans-serif);
}
.default-font {
    font-family: var(--bs-font-sans-serif);
}
body, #app {
    height: 100vh;
}